body {

}

#logo{
	height:150px;
}

.nav {
	margin:10px;
}

.left {
	position: absolute;
	width:20%;
}

.right {
	float:right;
	width:80%;
}

h2 {
	font-weight:bold;
}

h3{
	font-weight:bold;
}


.row{
	margin-left: 15px !important;
	margin-right: 15px !important;
}


.col-md-5  {
	width:75% !important;
}

#sidebar {
	margin-left:30px;
}

.ui-content {
	width: 700px;
}

.scrollbox {
	overflow:auto;
	height:340px;
}

#navbar {
	width:200px !important;
	height:30px;
}

#img {
   padding:20px;
   margin-left:60px;
   width: 400px;
   height:240px;
}

#auswählbutton {
	width: 250px;
	margin: 20px;
}

.footer {
	padding:5px;
}

